.fot-img {
    background-image: url("../assets/img/footer-bg.jpg");
    background-size: cover;
    padding: 100px;
    position: relative;
    

    li {
        cursor: pointer;
        color: rgb(133, 133, 133);
        list-style: none;
        h3 {
            color: white;
        }
        a {
            color: rgb(133, 133, 133);
            text-decoration: none;
        }
    }
    
    img {
        position: absolute;
        top: 0;
        right: 20%;
        transform: translate(0, -15%);
    }
}

.foot {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.container-fot {
    width: 85%;
    margin: 0 auto;
    display: flex;
}

.container-fot-1 {
    width: 50%;
    margin: 0 auto;
    display: flex;
}

.container-fot-2 {
    width: 90%;
    margin: 0 auto;
}

.pad-top {
    padding-top: 20px;
}

.d-felx {
    display: flex;
}


.align-center {
    align-items: center
}

.social {
    width: 25%;
    display: flex;

        .follow{
            padding-right: 10px;
            color: #0c7cec;
        }

        ul {
            list-style: none;
            display: flex;

            li {
                margin-right: 10px;
            }
        }   
    }

.sing {
    color: white;

        h2 {
            padding: 20px;
            border: 2px solid #0c7cec;
        }
    }