main {
    color: white;
}
// color background

.background-black {
    background-color:#303030 ;
}

.background-blu-light{
    background-color: #0c7cec;
}

  // color background

.font-s-50 {
    font-size: 50px;
}

.pad-30 {
    padding: 30px 0;
}

.pad-50 {
    padding: 50px 0;
}

.comics {
    list-style: none;
    display: flex;
    justify-content: space-around;

        li {
            display: flex;

                img {
                    width: 2vw;
                }
        }
        
    div {
        display: flex;
        align-items: center;
        margin-left: 10px;
            span {
                margin-left: 10px;
            }
        }  
    }

.pos-rel {
    position: relative;
}
    
.z-index {
    z-index: 2;
}

.jumbotron {
    img {
        width: 100%;
        height: 50vh;
        object-fit: cover;
        object-position: top;
    }
}

.cdComicImg {
    display: flex;
    flex-wrap: wrap;
}

.img-comics {
    width:calc(100% / 6);
    margin-top: 20px;
    font-size: 14px;   
}

.loadMore {
    text-align: center;
    margin-top: 20px;

         span {
            padding: 10px 50px;
            background-color: #0c7cec;
        }
}
